* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-image: url('img/cherry-blossom.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 150px;
  position: relative;
  color: white;
}
